:root {
  --color-main: #224455;
  --background-color: #8888AA;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  background-color: var(--background-color);
  color: var(--color-main);
  font-size: 18px;
}

input {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

button {
  background-color: black;
  border: 1px solid var(--color-main);
  color: var(--color-main);
  border-radius: none;
  border-width: 2px;
  padding: 8px;
  font-size: 18px;
}

button:disabled {
  color: #203d20;
  border-color: #274327;
  border-radius: 2px;
}
/* .track-type-selector-dropdown {
  width: 200px;
} */

.handle {
  width: 30px;
  height: 100%;
}

.dragging {
  opacity: 0.5;
}

.insert-above {
  border-top: solid 2px blue;
  margin-top: 2px;
}

.insert-below {
  border-bottom: solid 2px blue;
  margin-bottom: 2px;
}

#main-app {
  display: flex;
  flex-direction: column;
}
/* #main-app button {
  padding: 6px;
  background-color: azure;
  border-radius: 8px;
} */

.nav-menu {
  display: flex;
}
.nav-menu li {
  display: inline;
}

@media (min-width: 720px) {
  #main-app {
    flex-direction: row;
  }
}
