:root {
  --color-main: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--color-main);
}

.playlist-selector {
  font-size: 20px;
}

.playmix-track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.track-type-selector-dropdown {
  width: 200px;
}
