#view-container {
  margin-left: 16px;
  margin-right: 8px;
  flex-grow: 1;
}

@media (min-width: 320px) {
  #view-container {
    margin-top: 70px;
  }
}

@media (min-width: 720px) {
  #view-container {
    margin-top: 0;
  }
}
