#playmix-screen-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 175px;
  z-index: -100;
}

#playmix-tracks-container {
  width: 100%;
}

.playmix-track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px;
}

.playmix-track button {
  min-width: 42px;
  min-height: 42px;
}

#edit-name-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

#edit-name-container input {
  height: 44px;
  padding: 5px;
  margin: 22.4px 8px;
  outline: none;
  font-size: 20px;
}

.edit-name-button {
  height: 44px;
  border-radius: 8px;
  padding: 5px;
  margin: 8px;
}
