#playmix-screen-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 20px;
}

.playmix-track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
